<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>WK在线考试系统</title>
    <link rel="stylesheet" th:href="@{https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <link rel="stylesheet" th:href="@{/css/discuss/discuss.css}" />
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/semantic-ui/2.2.13/semantic.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/js/discuss/discuss.js}"></script>
</head>
<body>
<div th:replace ="~{public/public :: header}"></div>
<div class="ui header container">
    <div class="ui large breadcrumb">
        <a class="section" th:href="@{/}"><i class="home icon"></i>首页</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">讨论区</div>
    </div>
</div>

<div class="ui discussList container">
    <div class="ui grid">
        <div class="eleven wide column">
            <!--<div class="ui green secondary menu">-->
                <!--<a class="item active">全部</a>-->
                <!--<a class="item ">站内公告</a>-->
                <!--<a class="item ">笔经面经</a>-->
                <!--<a class="item ">我要提问</a>-->
                <!--<a class="item ">技术交流</a>-->
                <!--<a class="item ">产品运营</a>-->
                <!--<a class="item ">留学生</a>-->
                <!--<a class="item ">职业发展</a>-->
            <!--</div>-->
            <!--<div class="ui secondary menu">-->
                <!--<a class="item ">招聘信息</a>-->
                <!--<a class="item ">资源分享</a>-->
                <!--<a class="item ">猿生活</a>-->
            <!--</div>-->
            <div class="ui green secondary pointing menu" style="margin-top: 1em;">
                <a class="active item">全部讨论</a>
                <!--<a class="item">最新发表</a>-->
                <!--<a class="item">最热</a>-->
                <!--<a class="item">精华</a>-->
                <div class="right item">
                    <a th:if="${current_account != null}" th:href="@{/discuss/post}" class="positive ui button"><i class="write icon"></i>我要发布</a>
                    <a th:if="${current_account == null}" th:onclick="'app.showLogin()'" class="positive ui button"><i class="write icon"></i>我要发布</a>
                </div>
            </div>
            <div class="ui divided items">
                <div class="item" th:each="item,itemStats : ${data['posts']}">
                    <div class="ui avatar image mini">
                        <img th:src="@{'/upload/images/'+${item.author.avatarImgUrl}}" />
                    </div>
                    <div class="content">
                        <a th:href="@{'/discuss/'+${item.id}}" class="header" style="font-size: 15px;">
                            <p th:text="${item.title}">校招结束回顾：第一份工作的选择有多重要？应该考虑清楚些什么？</p>
                        </a>
                        <div class="extra" style="font-size: 13px;">
                            <span th:text="${item.author.name}">Mr.BoBo</span>
                            <span th:text="${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')} + '发表在 [我要提问]'">2018-01-13 11:33:51 发表在 [职业发展]</span>
                            <span th:if="${item.lastReplyTime != null}" th:text="'最后回复:'+${#dates.format(item.lastReplyTime, 'yyyy-MM-dd HH:mm:ss')}">最后回复:2018-01-13 11:33:52</span>
                            <span th:if="${item.lastReplyTime == null}">最后回复:--</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column">
            <div class="ui segment">
                <div class="ui dividing header">
                    <i class="world icon"></i>传送门
                </div>
                <div class="ui four images">
                    <a data-inverted="" data-tooltip="信息门户" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://www.wfust.edu.cn/}">
                        <img border="0" alt="" width="63" height="63" th:src="@{/img/xinximenhu.png}" />
                    </a>
                    <a data-inverted="" data-tooltip="教务系统" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://jwgl.wfust.edu.cn/home.aspx}">
                        <img border="0" alt="" width="63" height="63" th:src="@{/img/kaowu.png}" />
                    </a>
                    <a data-inverted="" data-tooltip="学工服务" data-position="top center" class="image" target="_blank" onclick="this.blur();" th:href="@{http://xsc.wfust.edu.cn/WebSite/web/Default.html}">
                        <img border="0" alt="" width="63" height="63" th:src="@{/img/xuegong.png}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 分页 -->
<div class="ui subPage container">
    <div class="ui pagination menu" id="subPageMenu">
    </div>
</div>
<!-- 不可抗力元素 -->
<div class="second-footer">
</div>
<nav th:insert="~{public/public :: footer}"></nav>
<script th:inline="javascript">
    /*<![CDATA[*/
    var pageNum = /*[[${data['pageNum']}]]*/;
    var pageSize = /*[[${data['pageSize']}]]*/;
    var totalPageNum = /*[[${data['totalPageNum']}]]*/;
    var totalPageSize = /*[[${data['totalPageSize']}]]*/;
    var posts = /*[[${data['posts']}]]*/;
    var contextPath = /*[[${#httpServletRequest.getContextPath()}]]*/;

    $(function(){
        app.init(contextPath);
        discussPage.init(pageNum, pageSize, totalPageNum, totalPageSize, posts);
    });
    /*]]>*/
</script>
</body>
</html>